body {
  text-align: center;
  background-color: #2C2D2D;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}



.dropdown-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.dropdown-button{
  transition: all 0.2s ease-in-out;
  font-size: x-large;
  width: 30px;
  height: 30px; 
  cursor: pointer;
}
.dropdown-menu {
  background-color: #1E1E1E;
  border-style: solid;
  width: 120px;
  border-color: black;
  margin-top: 20px;
  margin-right: 10px;
  position: fixed;
  z-index: 999; 
  right: 0;
  padding: 10px;
  transition: all 0.2s ease-in-out;
 
}
.toggle-menu {
  border: 3px solid #B72025;
  position: absolute;
  left: 0;
  padding: 20px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.watchlist{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999; 
  list-style: none;
  border: 3px solid #B72025;
  min-width: 275px;
  min-height: 250px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #1E1E1E;
  transition: all 0.2s ease-in-out;
  overflow: auto;
  resize: both; 
  max-width: 80%; 
  max-height: 80%; 
  text-align: left;
}


.watchlist-button{
 
  margin-top: 10px;
  border: none;
  background-color: #B72025;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.watchlist-h2{
  text-align: center;
}

.sort-buttons{
  cursor: pointer;
  border: none;
  background-color: #B72025;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.delete{
  color: #fff;
  margin-left: 10px;
  background-color: #B72025;
}

.button1:hover {
  background-color: #fff;
  color: #B72025;
  border: 2px solid #B72025;

}
h1 {
  text-align: center;
  font-size: 5rem;
  margin: 1rem 0;
  color:  #B72025;
  text-shadow: 2px 2px #fff;
}

h2{
color:  #fff;
text-shadow: 2px 2px #B72025;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: inline-block;
  margin: 2rem;
  padding: 1.5rem;
  border: 3px solid #B72025;
  width: 250px;
  height: 350px;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: #1E1E1E;
  transition: all 0.2s ease-in-out;
  overflow: auto;
}

.card:hover {
  border: 3px solid #fff;
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px #B72025;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card button {
  border: none;
  background-color: #B72025;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
 
}

.card button:hover {
  background-color: #fff;
  color: #B72025;
  border: 2px solid #B72025;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.form label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.form input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  
}

.form button {
  border: none;
  background-color: #B72025;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor:grabbing;
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  background-color: #fff;
  color: #B72025;
  border: 2px solid #B72025;
}

